// steps

main

	// container

	.container.steps

		// row

		.row

			.col-md-12

				h3
					| Этапы строительства

				.steps__green-line

				img(src="../img/steps.png" alt="@@")

				a.btn-green.link-popup-call(href="#" title="")
					| Узнать стоимость проекта