// header

.header

	// container

	.container

		.row

			.col-sm-12.col-md-1

				// header logotype

				a.header__logo.logo(href="#" title="")
					img(src="../img/logo-new.png" alt="@@")

			.col-sm-12.col-md-4

				// header title site

				.header__title-site.title-site
					h2
						| Строительство загородных домов

			.col-sm-0.col-md-1

			.col-sm-12.col-md-3

				//  header phone number

				.header__phone-number.phone-number
					a(href="tel:99999999999" title="")
						| +7 (495) 374-66-40

			.col-sm-12.col-md-1

				// call button

				a.header__call-button.btn.btn-green.btn-normal.link-popup-call(href="#" title="")
					| Обратный звонок

