// container

.container

	.row

		.com-md-12

			// navigation

			.nav-click

			nav.nav
				ul
					li: a(data-easing="easeInQuad" href="#valueHouse" title="")
						| Стоимость
					li: a(data-easing="easeInQuad" href="#projectsHouse" title="")
						| Проекты
					li: a(data-easing="easeInQuad" href="#qualityHouse" title="")
						| Качество
					li: a(data-easing="easeInQuad" href="#termsHouse" title="")
						| Сроки
					li: a(data-easing="easeInQuad" href="#buildHouse" title="")
						| Построенные дома
					li: a(data-easing="easeInQuad" href="#contactsHouse" title="")
						| Контакты