// popup

.popup.popup-call

	.popup-body

		h4
			| Оставьте заявку на <br/> обратный звонок

		.popup__line

		p
			| Перезвоним в течении 30 минут

		form.send-form(action="../mail.php" method="post")
			.popup__input
				input(type="text" name="name" placeholder="Имя" required)
			.popup__input
				input(type="text" ndame="tel" placeholder="Телефон" required)
			.popup__input
				input(type="text" ndame="tel" placeholder="E-mail" required)
			.popup__button
				input(type="hidden" id="action" name="action" value="submitform")
				input.btn-green(type="submit" value="Вызвать замерщика")

// thanks

.popup.popup-thanks

	// icon close

	a.popup__icon-close(href="#" title="")
		img(src="../img/icon-close.png" alt="")

	p
		| Спасибо! Ваша заявка успешно отравлена!